.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  min-width: 360px;
}

.Header {
  font-size: 48px;
  font-weight: bolder;
  height: 60px;
  margin-top: 20px;
}

.Main,
.Preview {
  margin: 20px 0px;
  width: 90vw;
  min-height: 100vh;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background-color: aliceblue;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.printContainer {
  padding: 25px;
}

h3 {
  margin: 15px;
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

.section,
form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eduSection,
.expSection {
  border: 1px solid black;
  border-radius: 15px;
  width: 100%;
}

input,
textarea {
  margin: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  min-width: 70vw;
}

textarea {
  resize: none;
  height: 100px;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

button {
  margin: 10px;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
}

.deleteBtn {
  background-color: red;
}

.addBtn {
  width: 100px;
  height: 80px;
  background-color: blue;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.printBtn {
  background-color: green;
}
